.hero {
  width: 1280px;
  height: 900px;
  background: #061125;
  border-radius: 30px;

  position: relative;
  overflow: hidden;
}

/* Content */

.hero-content {
  position: absolute;
  top: 180px;
  right: 120px;
  width: 432px;
}

.hero-title {
  color: #DADADA;
  font-size: 64px;
  font-weight: 1000;
  line-height: 39px;
  text-shadow: 0 3px 0 #FF27F0;
}

.hero-desc {
  margin-top: 25px;
  color: white;
  font-size: 24px;
  line-height: 39px;
}

.hero-btn {
  margin-top: 35px;

  width: 180px;
  padding: 8px 16px;

  border-radius: 10px;
  border: 1.4px solid #B37FEB;

  background:
    linear-gradient(
      319deg,
      rgba(255,255,255,.8) 11.46%,
      rgba(255,255,255,.8) 34.44%,
      rgba(255,255,255,0) 66.52%,
      rgba(255,255,255,.8) 94.3%
    ),
    #12082A;

  box-shadow:
    0 2px 2px #000,
    0 0 16px rgba(146,84,222,.32);

  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Logo */

.hero-logo {
  position: absolute;
  top: 140px;
  left: 140px;
}

/* Lights */

.light-green-up {
  position: absolute;
  width: 212px;
  height: 215px;

  background: rgba(41,255,100,.25);
  filter: blur(70.75px);

  top: 80px;
  left: 300px;
}

.light-green-down {
  position: absolute;
  width: 247px;
  height: 247px;

  background: rgba(41,255,100,.18);
  filter: blur(91.6px);

  bottom: 100px;
  right: 400px;
}

.light-pink-up {
  position: absolute;
  width: 320px;
  height: 320px;

  background: rgba(255,39,240,.22);
  filter: blur(70.75px);

  top: -50px;
  right: 200px;
}

.light-pink-down {
  position: absolute;
  width: 320px;
  height: 320px;

  background: rgba(255,39,240,.22);
  filter: blur(70.75px);

  bottom: -80px;
  left: 150px;
}

/* Network */

.network {
  position: absolute;
  bottom: 0;
  left: -200px;
}
