.floating-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
  z-index: 2;
}

/* Base shape */
.shape {
  position: absolute;

  opacity: 1;
  animation: float 6s infinite ease-in-out;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Shapes positions */
.square {
  width: 45px;
  height: 45px;
  top: 30%;
  left: 15%;
}

.triangle {
  width: 45px;
  height: 45px;
  top: 60%;
  right: 20%;
}

.circle {
  width: 35px;
  height: 35px;
  bottom: 25%;
  left: 40%;
}

/* Animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
