.shape {
  position: absolute;
  filter: blur(2px);
  opacity: 0.8;
  animation: float 6s infinite ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.square {
  width: 30px;
  height: 36px;
  top: 200px;
  left: 100px;
}

.triangle {
  width: 29px;
  height: 35px;
  top: 400px;
  right: 200px;
}

.circle {
  width: 20px;
  height: 20px;
  bottom: 300px;
  left: 300px;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
