.shape {
  position: absolute;
  opacity: 1;
  animation: float 6s infinite ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.square {
  width: 45px;
  height: 45px;
}

.triangle {
  width: 45px;
  height: 45px;
}

.circle {
  width: 35px;
  height: 35px;
}


@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
